.category-nav {
  display: flex;
  gap: var(--space-small);
  justify-content: space-between;
  margin: 0 auto var(--space-x-small) auto;
  max-width: 50rem;
  padding: 0 1em var(--space-xxx-small) 1em;
  overflow-x: auto;

  & > li > a {
    font-weight: bold;
    text-decoration: none;
  }
}