.post-nav {
  background-color: #000;
  bottom: 0;
  padding: var(--space-xxx-small) 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  & .post-nav__content {
    color: #fff;
    display: flex;
    gap: var(--space-small);
    justify-content: space-between;
    margin: 0 auto;
    max-width: 99vw;
    padding: 0 0.7em;
    overflow-x: auto;
    scrollbar-height: thin;
    scrollbar-width: thin;
    scrollbar-color: rgb(50 50 50 / 1) #000;
  
    &::-webkit-scrollbar {
      height: 12px;
      width: 12px;
    }
  
    &::-webkit-scrollbar-track {
      background: #000;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: rgb(50 50 50 / 1);
      border-radius: 20px;
      border: 3px solid #000;
    }

    & > li {
      flex-shrink: 0;
    
      & > a {
        text-decoration: none;

        &:hover {
          color: inherit;
          text-decoration: underline;
          text-underline-offset: 0.1em;
        }
      }
    }
  }

  @media (min-width: 768px) {
    max-width: calc(1040px + (var(--space-x-small) * 2));
    padding: var(--space-xxx-small) var(--space-small);
  }
}