.post-nav {
  background-color: #fff;
  bottom: 0;
  display: flex;
  gap: var(--space-small);
  justify-content: space-between;
  max-width: calc(1040px + (var(--space-x-small) * 2));
  padding: var(--space-xxx-small) var(--space-x-small);
  position: fixed;
  overflow-x: auto;
  z-index: 1;

  & > li {
    flex-shrink: 0;
  
    & > a {
      text-decoration: none;

      &:hover {
        color: inherit;
        text-decoration: underline;
        text-underline-offset: 0.1em;
      }
    }
  }

  @media (min-width: 768px) {
    padding: var(--space-xxx-small) var(--space-small);
  }
}